@()

@main("Login") {
@*//    All your design's come in here. please dont use the following tags: head, body. use divs instead*@
    <div class="container" style="">

        <h3 class="page-header h3" style="text-align: center ; background-color: black">Login</h3>
        <div class="packageSquare col-md-6" style="background-color: black">
        <div  style="margin-top: 50px" class="form-group col-md-6 col-md-offset-3" >
           <label style="color: white"> Username/Email Address: </label>  <input type="text"name="username" style="background-color: #DFC977; color: #000000" class="input input-sm" placeholder="Enter Username" >
        </div>
            <div class="form-group col-md-6 col-md-offset-3">
                <label style="color: white;">Password: </label><input type="password"name="pword" style="background-color: #dfc977; color: #000000 " class="input input-sm" placeholder="Enter Password">
        </div>
            <br><br>
        <div style="margin-bottom: 50px" class="col-md-5 col-md-offset-1"><button type="Submit" style="margin-left: 35px" class="btn btn-default"> Submit </button></div>
        </div>




    </div>
}






