@()

@main("Registration") {
    @*//    All your design's come in here. please dont use the following tags: head, body. use divs instead*@
<div>
    <div class=" container">
        <h3 class="page-header h3"style="text-align: center; background-color: black;">Registration</h3>
        <div class="packageSquare col-md-6" style="background-color: black" >
            <div class="col-md-3 pull-left">
                <input class="form-control" type="text" style="background-color: #DFC977; color: #000000"  placeholder="First Name">
                <input class="form-control" type="password" style="background-color: #DFC977; color: #000000"  placeholder="Password">
                <select style="background-color: #DFC977; color: #000000">
                    <option value="gender"> Gender </option>
                    <option value="male" style="color: white"> Male </option>
                    <option value="female" style="color: white"> Female </option>
                </select>

            </div>
            <div class="col-md-3 pull-right">
                <input class="form-control" type="text" style="background-color: #DFC977; color: #000000"  placeholder="Last Name">
                <input class="form-control" type="password" style="background-color: #DFC977; color: #000000"  placeholder="Confirm Password">
                <input class="form-control" type="text" style="background-color: #DFC977; color: #000000"  placeholder="Mobile number">
            </div>
            <input class=" form-control col-md-3" type="date" style="background-color: #DFC977; color: #000000" >
            <button type="submit"class="col-md-6 col-lg-push-3" ; style="background-color: #DFC977; color: #000000;align-self: center"> Submit </button></div>
    </div>
</div>
    }

